<!DOCTYPE html>
<html>
  <head>
    <title>留言板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-black" style="font-family:'細明體';">
    <div>
    <%- include('navbar.ejs') %>
    </div>
    <div class="relative top-20 p-5">
      <% for(let i=0;i<posts.length;++i) { %>
      <div class="m-2 p-2 flex" style="background-color: rgb(17, 17, 17);">
        <div class="inline text-green-400 text-xl w-8 flex-initial"><%= posts[i].comments.length %></div>
        <div class="inline flex-1"><a id="title<%=i%>" href="/view/<%= posts[i].id %>" class="text-white text-xl" onmouseover="document.getElementById('title<%=i%>').className='bg-white text-black text-xl'" onmouseleave="document.getElementById('title<%=i%>').className='text-white text-xl'">[問卦] <%= posts[i].title %></a><br><p class="text-white"><%= posts[i].author %></p></div>
      </div>
      <% } %>
    </div>
  </body>
</html>
