<!DOCTYPE html>
<html>
  <head>
    <title>留言板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <%- include('navbar.ejs') %>
    <main class="container-lg">
      <div class="card">
        <hr>
        <% for(let i=0;i<posts.length;++i) { %>
          <div onclick="location.href='/view/<%= posts[i].id %>'" style="cursor:pointer;max-height:94px;overflow-y: hidden;overflow-x: hidden;">
          <div style="white-space:nowrap;font-weight: 200;"><img height="20px" width="20px" src="https://teameowdev.files.wordpress.com/2016/04/teameow-e9a090e8a8ade9a0ade8b2bc.jpg?w=809" alt="" style="display: inline;font-weight: lighter;margin-bottom: 5px;"> <%= posts[i].author %> ． <%= posts[i].date %></div>
          <div class="row">
            <div class="col-10">
              <h5 style="margin-top: 10px;font-weight: 650;max-height: 23px;overflow-y: hidden;"><%= posts[i].title %></h5>
              <%= posts[i].body %>
            </div>
            <div class="col-2">
              <% if(posts[i].image!==''){ %>
              <img width="70px" height="70px" src="<%= posts[i].image %>" alt="" style="display: inline;">
              <% } %>
            </div>
          </div>
        </div>
          <hr>
        <% } %>
          
      </div>
    </main>
  </body>
</html>
