<!DOCTYPE html>
<html>
  <head>
    <title>留言板</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js" integrity="sha512-yFjZbTYRCJodnuyGlsKamNE/LlEaEAxSUDe5+u61mV8zzqJVFOH7TnULE2/PP/l5vKWpUNnF4VGVkXh3MjgLsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body class="bg-black sm:text-sm lg:text-2xl xl:text-2xl" style="font-family:'細明體';">
    <%- include('navbar.ejs') %>
    <div class="flex top-12 relative lg:px-10 xl:px-16 ">
      <span class="flex-initial text-white bg-gray-400 text-blue-900 px-3 w-18">
        <div>作者</div>
        <div>標題</div>
        <div>時間</div>
      </span>
      <span class="flex-1 bg-blue-900 text-gray-400 px-2">
        <div class="flex">
          <span class="flex-1"><%= post.author %></span>
          <span class="flex-initial w-auto">
            <span class="bg-gray-400 px-2 text-blue-900">看板</span>
            <span class="px-2">Gossiping(?</span>
          </span>
        </div>
        <div class="flex"><span class="flex-1"><%= post.title %></span><% if(username==post.author){ %>
          <span class="flex-initial w-42 pr-4">
            <span id="bodyeditbtn" onclick="editbody()">
              <i class="fa-solid fa-pen-to-square"></i>
            </span>
            <span id="bodydeletebtn" onclick="deletepost(`<%= post.id %>`)">
              <i class="fa-solid fa-xmark"></i>
            </span>
            <span id="bodysavebtn" onclick="savebody(`<%= post.id %>`)" hidden>
              <i class="fa-regular fa-floppy-disk"></i>     
            </span>
          </span> <% } %>
        </div>
        <div><%= post.date %></div>
      </span>
    </div>
    <br>
    <div class="xl:px-16 px-12 sm:text-sm lg:text-xl text-clip overflow-hidden">
      <pre id="body" class="text-white pt-12 pb-4"><%= post.body %></pre>
      <textarea id="bodytextarea" class="bg-gray-300 text-black w-full mt-12" rows="10" hidden><%= post.body %></textarea>
      <div class="text-white">
        ---
      </div>
      <div class="text-green-600">
        ※ 發信站: 批??實業坊(p??.cc), 來自: <%= post.ip %> (???)<br>
        ※ 文章網址: <a id="post_url"></a>
      </div>
      <div>
      <% for(let i=0;i<post.comments.length;++i){ %>
        <% if(!post.comments[i].deleted){ %>
          <% let tmp=((post.comments[i].body.length%25==0)?(post.comments[i].body.length/25-1):(post.comments[i].body.length/25))%>
          <% for(let j=0;j<=tmp;++j){ %>
          <div class="flex">
            <span class="mr-3 flex-initial"><span class="text-white px-2">推</span><span class="text-yellow-300"><%= post.comments[i].author %>:</span></span>
            <span class="text-yellow-500 flex-1">
              <%= post.comments[i].body.substring(j*25,(j+1)*25) %>
            </span>
            <span class="flex-initial">
              <% if(j==0&&post.comments[i].author===username){ %>
                <span class="text-red-800" onclick="deletecomment(`<%= post.id %>`,`<%= post.comments[i].index%>`)">
                  <i class="fa-solid fa-xmark"></i>
                </span>
              <% } %>
              <span class="text-yellow-300 mx-3"><%= post.comments[i].ip %></span>
              <span class="text-yellow-300"><%= post.comments[i].date.getMonth() %>/<%= post.comments[i].date.getDate() %></span>
            </span>
          </div>
          <% } %>
        <% } %>
      <% } %>
      </div>
    </div>
    <div class="h-20">

    </div>
  </body>
</html>

<script>

  window.onload=function(){
    document.getElementById("post_url").innerText=location.href;
  }
  /*
  async function save_to_db(id,index,body){
    await 
  }


  async function save(id,index){
    let textarea = document.getElementById('textarea'+index);
    let span = document.getElementById('span'+index);
    let editbtn = document.getElementById('edit_btn'+index);
    let savebtn = document.getElementById('save_btn'+index);
    span.innerText=textarea.value;

    span.hidden=false;
    textarea.hidden=true;

    await save_to_db(id,index,textarea.value);

    editbtn.hidden=false;
    savebtn.hidden=true;
  }

  function edit(index){
    let textarea = document.getElementById('textarea'+index);
    let span = document.getElementById('span'+index);
    let editbtn = document.getElementById('edit_btn'+index);
    let savebtn = document.getElementById('save_btn'+index);

    editbtn.hidden=true;
    savebtn.hidden=false;
    span.hidden=true;
    textarea.hidden=false;
  }*/

  function editbody(){
    let bodytextarea=document.getElementById('bodytextarea');
    let body=document.getElementById('body');

    let bodydeletebtn=document.getElementById('bodydeletebtn');
    let bodysavebtn=document.getElementById('bodysavebtn');
    let bodyeditbtn=document.getElementById('bodyeditbtn');

    body.hidden=true;
    bodytextarea.hidden=false;

    bodydeletebtn.hidden=true;
    bodyeditbtn.hidden=true;   
    bodysavebtn.hidden=false;
     
  }
  
  function savebody(id){
    let bodytextarea=document.getElementById('bodytextarea');
    let body=document.getElementById('body');

    let bodydeletebtn=document.getElementById('bodydeletebtn');
    let bodysavebtn=document.getElementById('bodysavebtn');
    let bodyeditbtn=document.getElementById('bodyeditbtn');

    body.hidden=false;
    bodytextarea.hidden=true;

    bodydeletebtn.hidden=false;
    bodyeditbtn.hidden=false;   
    bodysavebtn.hidden=true;

    body.innerText=bodytextarea.value;

    fetch(`/edit/${id}`,{
            headers: {'Content-Type':'application/x-www-form-urlencoded'}, 
            body: `body=${body.innerText}`,
            method:'POST'
        });

  }

  async function deletepost(id){
    await fetch(`/delete/${id}`,{
            headers: {'Content-Type':'application/x-www-form-urlencoded'}, 
            method:'GET'
        });
    location.href="/";
  }

  async function deletecomment(id,index){
    await fetch(`/comment/${id}/delete?index=${index}`,{
            headers: {'Content-Type':'application/x-www-form-urlencoded'}, 
            method:'GET'
        });
    location.reload();
  }

</script>
